.accordion-section {
    position: relative;

    margin: 0.5rem;
}

.accordion-title {
    margin-right: 2.5rem;

    border: none;
    background-color: transparent;

    font-family: inherit;
    font-weight: bolder;
    line-height: 1.8;

    cursor: pointer;
}

.accordion-title::after {
    content: "\2795";

    position: absolute;
    top: 0.3rem;
    right: 0rem;
}

.accordion-title.open::after {
    content: "\2796";
}