button {
    margin: 0;
    padding: 0;

    border: 1px solid balck;

    font-family: inherit;
    font-size: 1rem;
}

.button-link {
    border: none;

    background-color: transparent;
    color: blue;

    text-decoration: underline;
}